<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project1311"
        tools:targetApi="31">
        <activity
            android:name=".Leaderboards"
            android:exported="false" />
        <activity
            android:name=".LeaderboardsActivity"
            android:exported="false" /> <!-- MainActivity2 is now the launcher activity -->
        <activity
            android:name=".MainActivity2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Other activities -->
        <activity
            android:name=".TestFamily"
            android:exported="false" />
        <activity
            android:name=".TestNumbers"
            android:exported="false" />
        <activity
            android:name=".TestSelection"
            android:exported="false" />
        <activity
            android:name=".FamilyFcActivity"
            android:exported="false" />
        <activity
            android:name=".NumbersFcActivity"
            android:exported="false" />
        <activity
            android:name=".NumbersActivity"
            android:exported="false" />
        <activity
            android:name=".CollectionsNumber"
            android:exported="false" />
        <activity
            android:name=".FCSelection"
            android:exported="false" />
        <activity
            android:name=".TestActivity"
            android:exported="false" />
        <activity
            android:name=".FlashCardsActivity"
            android:exported="false" /> <!-- MainActivity no longer has the launcher intent -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>